{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="p-3 p-lg-5 border">
                <h2 class="h3 mb-3 text-black">Add Product</h2>
                {{ form_start(form) }}
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}


                    {{ form_label(form.description) }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description) }}


                    {{ form_label(form.quantity) }}
                    {{ form_errors(form.quantity) }}
                    {{ form_widget(form.quantity) }}

                    {{ form_label(form.categories) }}
                    {{ form_errors(form.categories) }}
                    {{ form_widget(form.categories) }}

                    {{ form_errors(form.mainImage.imageFile) }}
                    {{ form_widget(form.mainImage.imageFile) }}
                    <hr>

                    <ul class="tags" data-prototype="{{ form_widget(form.images.vars.prototype.imageFile)|e('html_attr') }}">
                        {{ form_errors(form.images.vars.prototype.imageFile) }}
                        {{ form_widget(form.images.vars.prototype.imageFile) }}
                    </ul>

                    {{ form_label(form.price) }}
                    {{ form_errors(form.price) }}
                    {{ form_widget(form.price) }}

                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>  
{% endblock %}
{% block js %}
    <script src="{{ asset('js/addtag.js') }}"></script>
{% endblock js %}
